{% extends 'layout/master.html'%}

{% block title %} Home {% endblock %}

{% block content %}

<div class="row">

      <div class="panel">
          <div class="panel-body">
                 <div class="">
                    <h3> اخبار | خبرونه</h3>
                  </div>

    {% for new in news%}

       <a href="/news/{{new.slug}}">
            <div class="news news-home" >
                <h4 >{{new.title|slice:'80'}}</h4>
                <p>{{new.content|slice:'130'}}</p>
            </div>
        </a>

    {% endfor%}

  {% if news.has_other_pages %}
  <ul class="pagination">
    {% if news.has_previous %}
      <li><a href="?page={{ news.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in news.paginator.page_range %}
      {% if news.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if news.has_next %}
      <li><a href="?page={{ news.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}


    </div>

</div>
</div>

{% endblock %}
