{% extends 'layout/master.html'%}

{% block title %} مقالات {% endblock %}

{% block content %}

<div class="row">

      <div class="panel">
          <div class="panel-body">
                 <div class="">
                    <h3> مقالات </h3>
                  </div>

    {% for post in posts %}

       <a href="/post/{{post.id}}">
            <div class="news news-home" >
                <h4 >{{post.title|slice:'80'}}</h4>
                <p>{{post.content|slice:'130'}}</p>
            </div>
        </a>

    {% endfor%}

  {% if posts.has_other_pages %}
  <ul class="pagination">
    {% if posts.has_previous %}
      <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
      <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}


    </div>

</div>
</div>

{% endblock %}
