        <!-- ///////////////////////////////////////////////////////////////// -->
        <!-- FOOTER FILES        -->
        <!-- //////////////////////////////////////////////////////////////////// -->
        <div class="clearfix"></div>
        <div class="footer container-fluid" >
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-top: 20px;">
                        <h3 class=" ">تماس با ما</h3>

                        <ul class="footer_ul">
                            <li><a href="#">بیانه خصوصی</a></li>
                            <li><a href="">راپور مسله امنیتی</a></li>
                            <li><a href="">یاداشت</a></li>
                            <li><a href="#">بیانه خصوصی</a></li>
                            <li><a href="">راپور مسله امنیتی</a></li>
                            <li><a href="">یاداشت</a></li>
                            <li><a href="#">بیانه خصوصی</a></li>
                            <li><a href="">راپور مسله امنیتی</a></li>
                            <li><a href="">یاداشت</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-top: 20px;">
                        <h3 class="">ادارت توسعه دهنده</h3>

                        <ul>
                            <li><a href="#">بیانه خصوصی</a></li>
                            <li><a href="">راپور مسله امنیتی</a></li>
                            <li><a href="">یاداشت</a></li>
                            <li><a href="#">بیانه خصوصی</a></li>
                            <li><a href="">راپور مسله امنیتی</a></li>
                            <li><a href="">یاداشت</a></li>
                            <li><a href="#">بیانه خصوصی</a></li>
                            <li><a href="">راپور مسله امنیتی</a></li>
                            <li><a href="">یاداشت</a></li>

                        </ul>

                    </div>


                    <div class="col-md-3 col-sm-4 col-xs-4" style="margin-top: 20px;">
                        <h3 class="">سافت ویر انجینر</h3>
                        <ul>
                            <li><a href="https://mohbadar.github.io" target="_blank">محمدبادار هاشمی</a></li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="black container-fluid">
            <p>Designed and Developed By Mohammad Badar Hashimi in &copy; <script type="text/javascript">  document.write(new Date().getFullYear());</script></p>
        </div>


        <style type="text/css">
            .footer_ul li{
                color: #FFF !important;
                direction: trl !important;
            }
        </style>

        <!-- end footer -->
