       {% load static from staticfiles %}

        <div id="header-ad" class="d-xs-block d-sm-block d-md-none d-lg-none">
            <div class="container">
            </div>
        </div>

        <!-- HEADER -->

        <header id="header">
            <div id="masthead">
                <div class="container">
                    <div class="row">
                        <div class="col-5 col-sm-2">
                            <ul  style="list-style:none;">
                                <li><a href="/site-administration" >ننوتل  | ورود </a></li>
                            </ul>
                        </div>
                        <div class="col-7 col-sm-3">
                            <ul class="nav-menu">
                                <li><a href="#">تماس | اړیکه</a></li>
                                <li><a href="#"> ما | مونژ </a></li>
                                <li><a href="#"><i class="/archive"></i>آرشیو</a></li>
                                <li><a href="#">تبلیغات</a></li>
                            </ul>

                        </div>
                        <div class="col-12 col-sm-2">
                            <div class="search" id="header-search">
                                <div class="close d-md-none d-lg-none" data-toggle="toggle" data-target="#header-search">×</div>
                                <form method="get" action="" role="form">
                                    <div class="input-group">
                                        <input type="text" placeholder="جستجو..." value="" name="q" />
                                        <button class="unstyled" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-12 col-sm-5">
                            <ul class="tools-menu">
                                <li><a href=""><i class="fa fa-apple"></i>اپل</a></li>
                                <li><a href=""><i class="fa fa-android"></i>اندروید</a></li>
                                <li><a href=""><i class="fa fa-facebook"></i>اپل</a></li>
                                <li><a href=""><i class="fa fa-google"></i>اندروید</a></li>
                                <li><a href=""><i class="fa fa-instagram"></i>اپل</a></li>
                                <li><a href=""><i class="fa fa-twitter"></i>اندروید</a></li>

                            </ul>
                            <div class="date"><script type="text/javascript">  document.write(new Date().getYear());</script></div>
                        </div>            </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-5 col-md-6 col-lg-6 col-xl-7">
                        <h1 class="page-header">
                            <a href="index.html" class="logo"><img src="{% static 'images/af_flag.png'%}" style="width:100px; margin-top:5px;"></a>
                        </h1>
                    </div>
                    <div class="col-12 col-sm-7 col-md-6 col-lg-6 col-xl-5">
                        <section id="box159" class="box ads" data-conf="{}">
                            <div style="">
                                <ul>
                                    <li >
                                            <h3>خدا، وطن، وظیفه</h3>
                                    </li>

                                    <li >
                                            <h3>خدا، هیواد، دنډه</h3>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </section>
                    </div>
                    <div class="col-12 d-sm-none">
                        <button type="button" data-toggle="come-in" data-target="#menu" class="d-sm-none btn"><i class="icon-menu"></i></button>
                        <button type="button" data-toggle="toggle" data-target="#header-search" data-focus="#header-search input" class="d-sm-none btn"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <nav id="menu">
                <div class="container">
                    <ul>
                        <li class="active">
                            <a href="/"> خانه | کور</a>
                        </li>



                        <li class=" has-child">
                            <a href="">خبرها | خبرونه</a>
                            <ul class="submenu" id="news_category">

                            </ul>
                        </li>


                    <li class=" has-child">
                        <a href="">علمی </a>
                        <ul class="submenu" id="article_category">

                        </ul>
                    </li>


                    <li class=" has-child">
                        <a href="">کتابخانه | کتابتون</a>
                        <ul class="submenu" id="book_category">

                        </ul>
                    </li>


                    <li class=" has-child">
                        <a href="">برنامه ها|پروګرامونه</a>
                        <ul class="submenu" id="event_category">

                        </ul>
                    </li>


                    <li class="has-child">
                        <a href="">مقالات</a>
                        <ul class="submenu" id="post_category">

                        </ul>
                    </li>


                    <li class=" has-child">
                        <a href="">چندرسانه ای | رساني</a>
                        <ul class="submenu">

                            <li class="">
                                <a href="">فیلم</a>
                            </li>

                            <li class="">
                                <a href="">صوتی</a>
                            </li>


                            <li class="">
                                <a href="">ګالری</a>
                            </li>

                            <li class="">
                                <a href="">اسناد</a>
                            </li>

                             <li class="">
                                <a href="">نظریات</a>
                            </li>



                        </ul>
                    </li>


                    <li class=" has-child">
                        <a href="service/science.html">فرصت ها | فرصتونه</a>
                        <ul class="submenu" id="opportunities">

                        </ul>
                    </li>
                    <li class=" has-child">
                        <a href=""> افغانستان </a>
                        <ul class="submenu" id="provinces">

                        </ul>
                    </li>
                    <!--<li class=" has-child">-->
                        <!--<a href=""> اعلانات </a>-->
                        <!--<ul class="submenu" id="adv_category">-->

                        <!--</ul>-->
                    <!--</li>-->
                    <li class=" has-child">
                        <a href="">وظایف | دنډه</a>
                        <ul class="submenu" id="jobs">

                        </ul>
                    </li>

                    <li class=" has-child">
                        <a href="">صحفه ها</a>
                        <ul class="submenu" id="page_categories">

                        </ul>
                    </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- END HEADER -->
