        <div id="header-ad" class="d-xs-block d-sm-block d-md-none d-lg-none">
            <div class="container">
            </div>
        </div>

        <!-- HEADER -->

        <header id="header">
            <div id="masthead">
                <div class="container">
                    <div class="row">
                        <div class="col-5 col-sm-2">
                            <ul class="languages-menu">
                                <li><a href="" >ننوتل  | ورود </a></li>
                            </ul>
                        </div>
                        <div class="col-7 col-sm-3">
                            <ul class="nav-menu">
                                <li><a href="#">تماس با ما </a></li>
                                <li><a href="#">درباره ما </a></li>
                                <li><a href="#"><i class="/archive"></i>آرشیو</a></li>
                                <li><a href="#">تبلیغات</a></li>
                            </ul>

                        </div>
                        <div class="col-12 col-sm-2">
                            <div class="search" id="header-search">
                                <div class="close d-md-none d-lg-none" data-toggle="toggle" data-target="#header-search">×</div>
                                <form method="get" action="" role="form">
                                    <div class="input-group">
                                        <input type="text" placeholder="جستجو..." value="" name="q" />
                                        <button class="unstyled" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-12 col-sm-5">
                            <ul class="tools-menu">
                                <li><a href=""><i class="fa fa-apple"></i>اپل</a></li>
                                <li><a href=""><i class="fa fa-android"></i>اندروید</a></li>
                                <li><a href=""><i class="fa fa-facebook"></i>اپل</a></li>
                                <li><a href=""><i class="fa fa-google"></i>اندروید</a></li>
                                <li><a href=""><i class="fa fa-instagram"></i>اپل</a></li>
                                <li><a href=""><i class="fa fa-twitter"></i>اندروید</a></li>

                            </ul>
                            <div class="date"><script type="text/javascript">
                                  var currentdate = new Date();
                                  var datetime = "Last Sync: " + currentdate.getDate() + "/"
                                            + (currentdate.getMonth()+1)  + "/"
                                            + currentdate.getFullYear() + " @ "
                                            + currentdate.getHours() + ":"
                                            + currentdate.getMinutes() + ":"
                                            + currentdate.getSeconds();
                                  print(datetime)
                            </script></div>
                        </div>            </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-5 col-md-6 col-lg-6 col-xl-7">
                        <h1 class="page-header">
                            <a href="index.html" class="logo">خبرآنلاین</a>
                        </h1>
                    </div>
                    <div class="col-12 col-sm-7 col-md-6 col-lg-6 col-xl-5">
                        <section id="box159" class="box ads" data-conf="{}">
                            <div style="">
                                <ul>

                                    <li data-conf="{}">
                                        <div id="ad159_4">
                                            <figure><a href="/" style="max-width: 70px">
                                                    <img src="images/logo.PNG" alt="LOGO COMES HERE" /></a></figure>
                                        </div>

                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </section>
                    </div>
                    <div class="col-12 d-sm-none">
                        <button type="button" data-toggle="come-in" data-target="#menu" class="d-sm-none btn"><i class="icon-menu"></i></button>
                        <button type="button" data-toggle="toggle" data-target="#header-search" data-focus="#header-search input" class="d-sm-none btn"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <nav id="menu">
                <div class="container">
                    <ul>
                        <li class="active">
                            <a href="index.html">صفحه اصلی</a>
                        </li>
                        <li class=" has-child">
                            <a href="service/Politics.html">سیاست</a>
                            <ul class="submenu">
                                <li class="">
                                    <a href="service/Politics/leader.html">رهبری</a>
                                </li>
                                <li class="">
                                    <a href="service/Politics/parties.html">احزاب و شخصیت‌ها</a>
                                </li>

                        </li>
                    </ul>
                    </li>
                    <li class=" has-child">
                        <a href="service/Economy.html">اقتصاد</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="service/Economy/macroeconomics.html">اقتصاد کلان</a>
                            </li>

                        </ul>
                    </li>
                    <li class=" has-child">
                        <a href="service/culture.html">فرهنگ</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="service/culture/cinema.html">سینما</a>
                            </li>
                            <li class="">
                                <a href="service/culture/defence.html">دفاع مقدس</a>
                            </li>

                        </ul>
                    </li>
                    <li class=" has-child">
                        <a href="service/society.html">جامعه</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="service/society/education.html">آموزش</a>
                            </li>

                        </ul>
                    </li>
                    <li class=" has-child">
                        <a href="service/World.html">بین‌الملل</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="service/World/americas.html">آمریکا</a>
                            </li>
                        </ul>
                    </li>
                    <li class=" has-child">
                        <a href="service/sport.html">ورزش</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="service/sport/iran-soccer.html">فوتبال ملی</a>
                            </li>

                        </ul>
                    </li>
                    <li class=" has-child">
                        <a href="service/science.html">دانش</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="service/science/astronomy.html">نجوم</a>
                            </li>

                        </ul>
                    </li>
                    <li class=" has-child">
                        <a href="service/ict.html">فناوری اطلاعات</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="service/ict/internet.html">اینترنت</a>
                            </li>

                        </ul>
                    </li>
                    <li class=" has-child">
                        <a href="service/comic.html">طنز و کاریکاتور</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="service/comic/illustration.html">طرح</a>
                            </li>
                        </ul>
                    </li>
                    <li class=" has-child">
                        <a href="service/multimedia.html">چندرسانه‌ای</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="service/multimedia/movie.html">فیلم</a>
                            </li>

                        </ul>
                    </li>

                    <li class=" has-child">
                        <a href="service/tourism.html">گردشگری</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="service/tourism/around-world.html">جهانگردی</a>
                            </li>
                        </ul>
                    </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- END HEADER -->
