{% extends 'layout/master.html'%}

{% block title %} Home {% endblock %}

{% block content %}

<div class="row">

         <div class="panel">

                <div class="panel-body">
                 <div class="">
                    <h3>اخبار</h3>
                  </div>

                    <a href="#" >
                      <div class="news news-home" >
                        <div class="newsImg"><img src="" width="120" class="img-responsive circle" style="max-height: 110px"></div>
                        <h4 >این داده های تستی است</h4>
                        <p>این داده های تستی استاین داده های تستی استاین داده های تستی استاین داده های تستی استاین داده های تستی استاین داده های تستی است</p>
                      </div>
                  </a>

                </div>
         </div>

</div>

{% endblock %}
